<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>html页面参数传递</title>
</head>
<body>
页面A
<input id="btn-a" type="button" value="跳转B页面"/>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
<script th:inline="javascript">

    $(document).ready(function(){

        var obj={
            id:1,
            name:"张三",
            age:10
        };
        alert("A页面参数："+parseParam(obj));
        $("#btn-a").click(function(){
            window.location.href="domoB.html?"+parseParam(obj);
        });

    });



    // 将js对象转成url jquery实现
    var parseParam=function(paramObj, key){
        var paramStr="";
        if(paramObj instanceof String||paramObj instanceof Number||paramObj instanceof Boolean){
            paramStr+="&"+key+"="+encodeURIComponent(paramObj);
        }else{
            $.each(paramObj,function(i){
                var k=key==null?i:key+(paramObj instanceof Array?"["+i+"]":"."+i);
                paramStr+='&'+parseParam(this, k);
            });
        }
        return paramStr.substr(1);
    };


    /**
     * paramObj 将要转为URL参数字符串的对象
     * key URL参数字符串的前缀
     * encode true/false 是否进行URL编码,默认为true
     * js实现
     * return URL参数字符串
     */
    var urlEncode = function (paramObj, key, encode) {
        if(paramObj==null) return '';
        var paramStr = '';
        var t = typeof (paramObj);
        if (t == 'string' || t == 'number' || t == 'boolean') {
            paramStr += '&' + key + '=' + ((encode==null||encode) ? encodeURIComponent(paramObj) : paramObj);
        } else {
            for (var i in paramObj) {
                var k = key == null ? i : key + (paramObj instanceof Array ? '[' + i + ']' : '.' + i);
                paramStr += urlEncode(paramObj[i], k, encode);
            }
        }
        return paramStr;
    };


</script>
</html>
