<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详细信息</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        var uid = [[${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}]];
        var cid, taskid, role = 0;
        window.onload=function(){
            cid = GetRequest();
            taskid = GetRequest2();
            function GetRequest() {
                var url = location.search; //获取url中"?"符后的字串
                var strr;
                // var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1); //substr()方法返回从参数值开始到结束的字符串；
                    // console.log(str);
                    // var strs = str.split("&");
                    for (var i = 0; i < str.length; i++) {
                        if(str[i] == "&") strr = str.substring(0,i);
                        console.log(strr);
                    }
                    return strr;
                }
                return null;
            }
            function GetRequest2() {
                var url = location.search; //获取url中"?"符后的字串
                var strr;
                // var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1); //substr()方法返回从参数值开始到结束的字符串；
                    // console.log(str);
                    // var strs = str.split("&");
                    for (var i = 0; i < str.length; i++) {
                        if(str[i] == "&") strr = str.substring(i+1,str.length);
                        console.log(strr);
                    }
                    return strr;
                }
                return null;
            }

            $.ajax({
                type: "post",
                url: "/showcasetaskinfo",
                dataType:'text',
                contentType: "application/json;charset=UTF-8",
                traditional: true,
                data:JSON.stringify({
                    "caseid":cid,
                    "taskid":taskid
                }),
                success: function (result) {
                    var dataobj = JSON.parse(result);
                    console.log("taskinfo");
                    console.log(dataobj);
                    if(role != 1) role = 2;
                    $("#tname").html(dataobj.task.taskname);
                    $("#description").html(dataobj.task.description);

                    if(dataobj.successor.length!=0){
                        var f = 0,str = "";
                        for(var menu in dataobj.successor) {
                            if(f == 0){
                                str = str + dataobj.successor[menu].taskname;
                                f = 1;
                            }else{
                                str = str + ", " + dataobj.successor[menu].taskname;
                            }
                        }
                        $("#next").html(str);
                    }else{
                        $("#next").html("该任务没有后继任务。");
                    }

                    if(dataobj.predecessor.length!=0){
                        var f = 0,str = "";
                        for(var menu in dataobj.predecessor) {
                            if(f == 0){
                                str = str + dataobj.predecessor[menu].taskname;
                                f = 1;
                            }else{
                                str = str + ", " + dataobj.predecessor[menu].taskname;
                            }
                        }
                        $("#last").html(str);
                    }else{
                        $("#last").html("该任务没有前驱任务。");
                    }

                    $("#rolename").html(dataobj.role.case_role.rolename);

                },
                error:function(result) {
                    alert(result);
                }
            });
        }

    </script>
</head>
<body>
<div class="tab-content">
    <div id="menu1" class="container tab-pane active" style="height: 600px;"><br>
        <div>
            <table border="1" frame="void" rules="none" cellpadding="10px" style="font-weight: bold;" id="meg">
                <tr>
                    <th>任务名称：</th>
                    <th id="tname"></th>
                </tr>
                <tr>
                    <td>任务描述：</td>
                    <td id="description"></td>
                </tr>
                <tr>
                    <td>任务参与角色：</td>
                    <td id="rolename"></td>
                </tr>
                <tr>
                    <th>前驱任务：</th>
                    <th id="last"></th>
                </tr>
                <tr>
                    <th>后继任务：</th>
                    <th id="next"></th>
                </tr>
                <!--                <tr>-->
                <!--                    <td>开始时间：</td>-->
                <!--                    <td id="time"></td>-->
                <!--                </tr>-->
            </table>
            <!--            <input type="file" name="myfile" id="id_file" class="hidden">-->
            <!--            <input type="button" class="btn btn-success pull-right" value="上传" id="id_submit">-->
            <!--            <button type="button" class="btn btn-primary" id="btn_add">进入项目</button>-->
        </div>
    </div>
</div>
</body>
</html>
