<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>项目聊天室</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        var cid,uid;
        window.onload=function () {
            uid = GetRequest();
            cid = GetRequest2();
            var Menulisttop = $("#topmenu");
            $('<li style="display: inline"><a href="/student/toPCenter/'+uid+'" style="margin-left: 8px; color: #0B3E5B;font-size: 21px; font-weight: bold;">个人空间</a></li>').appendTo(Menulisttop);

            function GetRequest() {
                var url = location.search; //获取url中"?"符后的字串
                var strr;
                // var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1); //substr()方法返回从参数值开始到结束的字符串；
                    // console.log(str);
                    // var strs = str.split("&");
                    for (var i = 0; i < str.length; i++) {
                        if (str[i] == "&") strr = str.substring(0, i);
                        console.log(strr);
                    }
                    return strr;
                }
                return null;
            }

            function GetRequest2() {
                var url = location.search; //获取url中"?"符后的字串
                var strr;
                // var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1); //substr()方法返回从参数值开始到结束的字符串；
                    // console.log(str);
                    // var strs = str.split("&");
                    for (var i = 0; i < str.length; i++) {
                        if (str[i] == "&") strr = str.substring(i + 1, str.length);
                        console.log(strr);
                    }
                    return strr;
                }
                return null;
            }

            //jQuery写法

            //初始化
            $.ajax({
                type: "post",  //post put get 等等
                url: "/student/showUserDetial",
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                //后端Requestbody只能接收一个Json字符串,ajax传的是一个对象,所以要调用stringify方法转换成字符串,对象可以再上面封装好,或者下面直接在该方法内（{}）用大括号括起来
                // 表示对象
                data: {  //json前面的东西要和后端实体类对应
                    "uid": uid
                },
                success: function (data, textStatus) {
                    $("#headimg").attr("src", data.portrait);
                    $("#name").html(data.name);
                    // $("#rolename").html(data.rolename);
                    var indexmenu = $("#menuindex");

                    $('<li class="nav-item"><a class="nav-link" href="/toprojectdetind?' + cid + '" style="color: #0B3E5B; font-weight: bold;">基本信息</a></li>').appendTo(indexmenu);
                    $('<li class="nav-item"><a class="nav-link" href="/toprojectdettask?' + uid + '&' + cid + '" style="color: #0B3E5B; font-weight: bold;">我的任务</a></li>').appendTo(indexmenu);
                    $('<li class="nav-item"><a class="nav-link" href="/toprojectdetman?' + uid + '&' + cid + '" style="color: #0B3E5B; font-weight: bold;">组内信息</a></li>').appendTo(indexmenu);
                    $('<li class="nav-item"><a class="nav-link" href="/toprojectdetdoc?' + uid + '&' + cid + '" style="color: #0B3E5B; font-weight: bold;">我的文档</a></li>').appendTo(indexmenu);
                    $('<li class="nav-item"><a class="nav-link" href="/toprojectdeteva?' + uid + '&' + cid + '" style="color: #0B3E5B; font-weight: bold;">我的评价</a></li>').appendTo(indexmenu);
                    $('<li class="nav-item"><a class="nav-link active" href="/toprojectdetcom?' + uid + '&' + cid + '" style="background-color: #96B87D; font-weight: bold;">聊天室</a></li>').appendTo(indexmenu);

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {  //连接至ashx文件失败时，执行函数
                    alert("error");
                }
            });

            $.ajax({
                type: "post",  //post put get 等等
                url: "/chatroom/showmsg",
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                //后端Requestbody只能接收一个Json字符串,ajax传的是一个对象,所以要调用stringify方法转换成字符串,对象可以再上面封装好,或者下面直接在该方法内（{}）用大括号括起来
                // 表示对象
                data: {  //json前面的东西要和后端实体类对应
                    "projectid": cid
                },
                success: function (data) {
                    console.log(data);
                    var Menulistchat = $("#chat");
                    for(var menu = data.length ; menu > 0 ; menu --){
                        $('<ul style="margin-top: 10px;"><li>'+data[menu-1].username+'  '+data[menu-1].sendtime+'</li><li style="margin-top: 5px;">'+data[menu-1].chatmsg+'</li></ul>').appendTo(Menulistchat);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {  //连接至ashx文件失败时，执行函数
                    alert("error");
                }
            });

        }

        function chat_submit() {
            var str = $('#chat_input').val();
            $.ajax({
                type: "post",  //post put get 等等
                url: "/chatroom/sendmsg",
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                //后端Requestbody只能接收一个Json字符串,ajax传的是一个对象,所以要调用stringify方法转换成字符串,对象可以再上面封装好,或者下面直接在该方法内（{}）用大括号括起来
                // 表示对象
                data: {  //json前面的东西要和后端实体类对应
                    "projectid": cid,
                    "msg": str
                },
                success: function (data) {
                    console.log(data);
                    location.replace(location.href);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {  //连接至ashx文件失败时，执行函数
                    alert("error");
                }
            });
        }

    </script>
</head>

<style type="text/css">
    .test {
        width   : 50px;
        height  : 200px;
        overflow: auto;
        float   : left;
        margin  : 5px;
        border  : none;
    }
    .scrollbar {
        width : 30px;
        height: 300px;
        margin: 0 auto;
    }
    .test-1::-webkit-scrollbar {
        /*滚动条整体样式*/
        width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
    }
    .test-1::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 10px;
        box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
        background   : #535353;
    }
    .test-1::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background   : #ededed;
    }
</style>

<body>
<div class="container">
    <div class="row">
        <div style="background-color: #96B87D; height: 40px; width: 100%;display: flex;">
            <div>
                <h5 style="margin-left: 15px;margin-top: 7px; color: white; font-family: 'arial black'; font-weight: bold;">案 例 学 习 系 统</h5>
            </div>
            <div sec:authorize="isAuthenticated()">
                <h5 style="margin-left: 700px; margin-top: 7px; color: white;">欢迎您 <span sec:authentication="principal.myUserName"></span></h5>
            </div>
            <div>
                <a type="button" class="btn" style="margin-left: 35px; margin-top:3px; height: 34px; background-color: darkgray;color: dimgray" href="/logout" >注销</a>
            </div>
        </div>
    </div>
    <header class="header-area">
        <div class="header-bottom stick-h2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="logo" style="margin-left: 30px;">
                            <img src="/img/logo.jpg" style="width: 60px;">
                            <!--<a href="index2.html"><img src="images/logo/logo2.jpg" alt=""> </a>-->
                        </div>
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs">
                        <div class="menu-area f-right" style="margin-top: 10px;">
                            <nav>
                                <ul style="color: #96B87D;" id="topmenu">
                                    <li style="display: inline"><a href="/index" style="color: #0B3E5B;font-size: 21px; font-weight: bold;">主页</a></li>
                                    <li style="display: inline"><a href="/todocumentation" style="margin-left: 8px; color: #0B3E5B;font-size: 21px; font-weight: bold;">案例</a></li>
                                    <li style="display: inline"><a href="/toproject" style="margin-left: 8px; color: #0B3E5B;font-size: 21px; font-weight: bold;">项目</a></li>
                                    <!--<li><a href="page.html">PAGE</a></li>
                                    <li><a href="contact.html">CONTACT</a></li>-->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container" style="border-top: double; border-width: 5px; border-color: #96B87D; width: 100%;">
        <div class="row" style="margin-top: 40px;">
            <div id="left" class="col-md-4" style="height: 530px; border-right: solid; border-color: #0B3E5B;text-align: center;">
                <div class="logo">
                    <img src="" style="width: 50%;border-radius: 80px;" id="headimg">

                    <!--<a href="index2.html"><img src="images/logo/logo2.jpg" alt=""> </a>-->
                </div>
                <div style="margin-top: 20px;">
                    用户名：<h7 id="name" style="color: #0B3E5B; font-weight: bold;" text=""></h7>
                </div>
                <div style="margin-top: 70px;">
                    <ul class="nav nav-pills flex-column" role="tablist" id="menuindex">
                    </ul>
                </div>
            </div>
            <div id="middle" class="col-md-8">

                <div style="width: 80%; height: 430px; margin-left: 10%; margin-top: 0%; background-color: #96B87D; border-radius:5px;">
                    <div style="padding-top: 5%; margin-left: 5%; width: 90%; height: 95%;" class="test test-1">
                        <div id="chat" class="scrollbar"style="padding-top: 0%; margin-left: 0%; width: 100%; height: 100%;"></div>
                    </div>
                </div>

                <div style="width: 80%; height: 60px; margin-left: 10%; margin-top: 30px; background-color: #96B87D; border-radius:5px;">
                    <input type="text" class="form-control" id="chat_input" style="display:inline; width:70%; margin-left: 5%;margin-top:12px;"autocomplete="off">
                    <button class="btn btn-success" onclick="chat_submit()" style="width: 15%; margin-left: 5%;">发送</button>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>