<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>项目首页</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        var userid;
        window.onload=function() {
            var uidindex = [[${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}]];
            var Menulisttop = $("#topmenu");
            $('<li style="display: inline"><a href="/student/toPCenter/'+uidindex+'" style="margin-left: 8px; color: #0B3E5B;font-size: 21px; font-weight: bold;">个人空间</a></li>').appendTo(Menulisttop);
            $.ajax({
                type: "post",
                url: "/findallprojects",
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                success: function (result) {
                    console.log(result);
                    // console.log(result[0].casename);
                    var showMenu = $("#menu");  //获取ul（父节点）的位置
                    showSideMenu(result, showMenu)
                }
            });
            $.ajax({
                type: "post",
                url: "/findunfinishedprojectsbyuid",
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                success: function (result) {
                    console.log(result);
                    // console.log(result[0].casename);
                    var showMenupro = $("#proing");  //获取ul（父节点）的位置
                    for(var menu in result){
                        $("<li style='margin-top: 10px;'><span class='menu-text'>在项目<a href='toprojectdetind?"+ result[menu].project.projectid +"'>" + result[menu].project.projectname + "</a>担任" + result[menu].role.rolename + "职位</span></li>").appendTo(showMenupro);
                        if(result[menu+1] == 'undefined') break;
                    }
                }
            });
            $.ajax({
                type: "post",
                url: "/showprojectlog",
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                data:{
                  "pagenum":0,
                  "pagesize":30
                },
                success: function (result) {
                    console.log(result);
                    var showMenu2 = $("#menu2");
                    for(var menu in result){
                        var type = result[menu].type;
                        userid = result[menu].touid;
                        if(type == 1){
                            console.log("1");
                            var name = result[menu].username;
                            var rolename = result[menu].rolename;
                            var proname = result[menu].projectname;
                            $("<li><span class='menu-text'>" + name + "申请以" + rolename + "职位进入" + proname + "项目</span><button type='button' class='btn btn-primary' id='btn_apply' style='width: 60px; height: 30px;line-height: 17px;'>操作</button></li>").appendTo(showMenu2);
                            // $("<button type='button' class='btn btn-primary' id='btn_apply' style='margin-top: 3px; width: 60px;'>操作</button>").appendTo(showMenu2);
                        }else if(type == 2){
                            console.log("2");
                            var flag = result[menu].passstatus;
                            var rolename = result[menu].rolename;
                            var proname = result[menu].projectname;
                            if(flag==1){
                                $("<li></li>").append("<span class='menu-text'>" + proname + "项目" + rolename + "职位的申请已通过。</span>").appendTo(showMenu2);
                            }else if(flag==2){
                                $("<li></li>").append("<span class='menu-text'>" + proname + "项目" + rolename + "职位的申请未通过。</span>").appendTo(showMenu2);
                            }
                        }else if(type == 3){
                            console.log("3");
                            var tname = result[menu].taskname;
                            var proname = result[menu].projectname;
                            $("<li></li>").append("<span class='menu-text'>" + proname + "项目" + tname + "任务已经开始。</span>").appendTo(showMenu2);
                        }else if(type == 4){
                            console.log("4");
                            var tname = result[menu].taskname;
                            var proname = result[menu].projectname;
                            $("<li></li>").append("<span class='menu-text'>" + proname + "项目" + tname + "任务已经结束。</span>").appendTo(showMenu2);
                        }else if(type == 5){
                            console.log("5");
                            var tname = result[menu].taskname;
                            var proname = result[menu].projectname;
                            $("<li></li>").append("<span class='menu-text'>" + proname + "项目" + tname + "任务自评已经开始。</span>").appendTo(showMenu2);
                        }else if(type == 6){
                            console.log("6");
                            var proname = result[menu].projectname;
                            $("<li></li>").append("<span class='menu-text'>" + proname + "项目自评已经开始。</span>").appendTo(showMenu2);
                        }else if(type == 7){
                            console.log("7");
                            var log = result[menu].logmsg;
                            $("<li></li>").append("<span class='menu-text'>" + log + "</span>").appendTo(showMenu2);
                        }else if(type == 8){
                            console.log("8");
                            var tname = result[menu].taskname;
                            var proname = result[menu].projectname;
                            $("<li></li>").append("<span class='menu-text'>" + proname + "项目" + tname + "任务已有文档提交。</span>").appendTo(showMenu2);
                        }else{
                            var flag = result[menu].passstatus;
                            var tname = result[menu].taskname;
                            var proname = result[menu].projectname;
                            if(flag == 1){
                                $("<li></li>").append("<span class='menu-text'>" + proname + "项目" + tname + "任务提交已被项目经理通过。</span>").appendTo(showMenu2);
                            }else{
                                $("<li></li>").append("<span class='menu-text'>" + proname + "项目" + tname + "任务提交未被项目经理通过。</span>").appendTo(showMenu2);
                            }
                        }
                        if(result[menu+1] == 'undefined') break;
                        $("#btn_apply").click(function () {
                            $("#myModalLabel").text("申请信息");
                            $('#myModal').modal();
                        });
                    }
                },
                error:function(result) {
                    alert(result);
                }
            });
        }
        function showSideMenu(menuList, parent) {
            for (var menu in menuList) {
                //如果有子节点，则遍历该子节点
                // var name = menuList[menu].projects.projectname;
                // if (typeof (menuList[menu].children) != 'undefined') {
                //     //创建一个子节点li
                //     console.log(menuList[menu].casename);
                //     var li = $('<li class="dropdown"></li>');
                //     //将li的文本设置好，并马上添加一个空白的ul子节点，并且将这个li添加到父亲节点中
                //     $(li).append("<a href=''  class='dropdown-toggle' data-toggle='dropdown'> <span class='menu-text'>" + name + "</span><b class='arrow icon-angle-down'></b></a>").appendTo(parent);
                //     $(li).append("<ul class='dropdown-menu'></ul>");
                //     //将空白的ul作为下一个递归遍历的父亲节点传入
                //     showSideMenu(menuList[menu].children, $(li).children().last());
                // }
                // //如果该节点没有子节点，则直接将该节点li以及文本创建好直接添加到父亲节点中
                // else {
                //     console.log(menuList[menu].entity.url);
                //     var url = menuList[menu].entity.url;
                //     $("<li></li>").append("<a href='documentation_test.html' οnclick=getUrl('" + url + "','" + name + "')> <span class='menu-text'>" + name + "</span></a>").appendTo(parent);
                // }
                for(var menu2 in menuList[menu].projects){
                    var cid = menuList[menu].projects[menu2].projectid;
                    var name = menuList[menu].projects[menu2].projectname;
                    $("<li></li>").append("<a href='#' onclick='getUrl(" + cid + ")' class='turn'> <span class='menu-text'>" + name + "</span></a>").appendTo(parent);
                }
                // console.log(menuList[2]);
                // console.log(menuList[3]);
                // console.log(menu+1);
                if(menuList[menu+1] == 'undefined') break;
            }
        }
        function getUrl(cid) {
            // console.log(parseParam(cid));
            var main = document.getElementById('main');
            main.innerHTML = "<iframe border='none' style='border:0; padding:15px' scrolling='no' width='100%' height='100%' src='toprojecttest?"+cid+"'></iframe>";
            main = document.getElementById('main2');
            main.innerHTML = "<iframe border='none' style='border:0; padding:15px' scrolling='no' width='100%' height='100%' src='toprojectplayer?"+cid+"'></iframe>";
        }
        var parseParam=function(paramObj, key){
            var paramStr="";
            if(paramObj instanceof String||paramObj instanceof Number||paramObj instanceof Boolean){
                paramStr+="&"+key+"="+encodeURIComponent(paramObj);
            }else{
                $.each(paramObj,function(i){
                    var k=key==null?i:key+(paramObj instanceof Array?"["+i+"]":"."+i);
                    paramStr+='&'+parseParam(this, k);
                });
            }
            return paramStr.substr(1);
        };
        var urlEncode = function (paramObj, key, encode) {
            if(paramObj==null) return '';
            var paramStr = '';
            var t = typeof (paramObj);
            if (t == 'string' || t == 'number' || t == 'boolean') {
                paramStr += '&' + key + '=' + ((encode==null||encode) ? encodeURIComponent(paramObj) : paramObj);
            } else {
                for (var i in paramObj) {
                    var k = key == null ? i : key + (paramObj instanceof Array ? '[' + i + ']' : '.' + i);
                    paramStr += urlEncode(paramObj[i], k, encode);
                }
            }
            return paramStr;
        };

        function apply() {
            console.log("111");
            $.ajax({
                type: "post",
                url: "/judgeapply",
                dataType:'text',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                data:{
                    "logid":3,
                    "projectid":1,
                    "roleid":15,
                    "memberid":"teacher",
                    "pass":true
                },
                success: function (result) {
                    console.log(result);
                    if(result === "true") alert("已同意");
                    else alert("项目成员已满");
                },
                error:function(result) {
                    alert(result);
                }
            });
        }

    </script>
</head>

<style type="text/css">
    .test {
        width   : 50px;
        height  : 200px;
        overflow: auto;
        float   : left;
        margin  : 5px;
        border  : none;
    }
    .scrollbar {
        width : 30px;
        height: 300px;
        margin: 0 auto;
    }
    .test-1::-webkit-scrollbar {
        /*滚动条整体样式*/
        width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
    }
    .test-1::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 10px;
        box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
        background   : #535353;
    }
    .test-1::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background   : #ededed;
    }
</style>

<body>
<div class="container">
    <div class="row">
        <div style="background-color: #96B87D; height: 40px; width: 100%;display: flex;">
            <div>
                <h5 style="margin-left: 15px;margin-top: 7px; color: white; font-family: 'arial black'; font-weight: bold;">案 例 学 习 系 统</h5>
            </div>
            <div sec:authorize="isAuthenticated()">
                <h5 style="margin-left: 700px; margin-top: 7px; color: white;">欢迎您 <span sec:authentication="principal.myUserName"></span></h5>
            </div>
            <div>
                <a type="button" class="btn" style="margin-left: 35px; margin-top:3px; height: 34px; background-color: darkgray;color: dimgray" href="/logout" >注销</a>
            </div>
        </div>
    </div>
    <header class="header-area">
        <div class="header-bottom stick-h2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="logo" style="margin-left: 30px;">
                            <img src="/img/logo.jpg" style="width: 60px;">
                            <!--<a href="index2.html"><img src="images/logo/logo2.jpg" alt=""> </a>-->
                        </div>
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs">
                        <div class="menu-area f-right" style="margin-top: 10px;">
                            <nav>
                                <ul style="color: #96B87D;" id="topmenu">
                                    <li style="display: inline"><a href="/index" style="color: #0B3E5B;font-size: 21px; font-weight: bold;">主页</a></li>
                                    <li style="display: inline"><a href="/todocumentation" style="margin-left: 8px; color: #0B3E5B;font-size: 21px; font-weight: bold;">案例</a></li>
                                    <li style="display: inline"><a href="/toproject" style="margin-left: 8px; color: #0B3E5B;font-size: 21px; font-weight: bold;">项目</a></li>
                                    <!--<li><a href="page.html">PAGE</a></li>
                                    <li><a href="contact.html">CONTACT</a></li>-->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container" style="border-top: double; border-width: 5px; border-color: #96B87D; width: 100%;">
        <div class="row" style="margin-top: 40px;">
            <div id="left" class="col-md-4" style="height: 530px; border-right: solid; border-color: #0B3E5B;text-align: center;">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="sidebar" id="sidebar">
                        <h4 style="margin-top: 10px; text-align: center;color: #0B3E5B; font-weight: bold;">项目列表</h4>
                        <ul id='menu' class='nav navbar-nav' style="margin-top: 20px;"></ul>
                    </div>
                </nav>
            </div>
            <div id="middle" class="col-md-4" style="height: 530px; border-right: solid; border-color: #0B3E5B;">
                <div class="main-content">
                    <div class="page-content " id="main" style="height: 530px;">
                        <h4 style="margin-top: 10px; text-align: center;color: #0B3E5B; font-weight: bold;">正在进行的项目</h4>
                        <ul id='proing' class='nav navbar-nav' style="margin-top: 20px;"></ul>
                    </div>
                </div>
            </div>
            <div id="right" class="col-md-4" style="border-right: solid; height: 530px;">
                <div class="main-content">
<!--                    <div class="test test-1" style="width: 100%; height: 100%;">-->
<!--                        <div class="scrollbar" style="width: 100%; height: 100%;">-->
                            <div class="page-content " id="main2" style="height: 530px; overflow-y: scroll;">
                                <nav class="navbar navbar-default" role="navigation">
                                    <div class="sidebar">
                                        <h4 style="text-align: center;color: #0B3E5B; font-weight: bold;">项目实时消息</h4>
                                        <ul id='menu2' class='nav navbar-nav' style="margin-top: 20px;"></ul>
                                    </div>
                                </nav>
                            </div>
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">成员申请</h4>
                    <!--                            <button type="button" class="btn btn-primary">创建项目</button>-->
                </div>
                <div class="modal-body">
                    <form style="text-align: center;">
                        <div class="form-group" style="padding-top: 45px;">
                            <h6 stype="display:inline;">是否同意该成员的职位申请？</h6>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" id="add">
                    <button type="submit" class="btn btn-outline-primary" data-dismiss="modal" onclick="apply()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>确定申请</button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>取消</button>
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>
