<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详细信息</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        var uid = [[${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}]];
        var cid, taskid, role = 0, flagtask = 0;
        var prostarttime = new Date('0/0/0 00:00');
        window.onload=function(){
            $.ajaxSettings.async = false;
            cid = GetRequest();
            taskid = GetRequest2();
            document.getElementById("PMeva").style.display="none";
            document.getElementById("selfeva").style.display="none";
            document.getElementById("PMbtn").style.display="none";
            document.getElementById("selfbtn").style.display="none";
            document.getElementById("download").style.display="none";
            document.getElementById("start_task").style.display="none";
            function GetRequest() {
                var url = location.search; //获取url中"?"符后的字串
                var strr;
                // var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1); //substr()方法返回从参数值开始到结束的字符串；
                    // console.log(str);
                    // var strs = str.split("&");
                    for (var i = 0; i < str.length; i++) {
                        if(str[i] == "&") strr = str.substring(0,i);
                        console.log(strr);
                    }
                    return strr;
                }
                return null;
            }
            function GetRequest2() {
                var url = location.search; //获取url中"?"符后的字串
                var strr;
                // var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1); //substr()方法返回从参数值开始到结束的字符串；
                    // console.log(str);
                    // var strs = str.split("&");
                    for (var i = 0; i < str.length; i++) {
                        if(str[i] == "&") strr = str.substring(i+1,str.length);
                        console.log(strr);
                    }
                    return strr;
                }
                return null;
            }


            $.ajax({
                type: "post",
                url: "/showprojectinfo",
                dataType: 'text',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                data:{
                    "projectid":Number(cid)
                },
                success: function (data) {
                    var dataobj = JSON.parse(data);
                    // console.log(dataobj);
                    // console.log(typeof dataobj.project.starttime);
                    prostarttime = new Date(dataobj.project.starttime);
                    for(var menu in dataobj.role_to_user) {
                        var userid = dataobj.role_to_user[menu].uid;
                        if (userid == uid) {
                            if (dataobj.role_to_user[menu].rolename === "项目经理") {
                                role = 2;
                            }
                        }
                    }
                },
                error:function(result) {
                    alert(result);
                }
            });


            $.ajax({
                type: "post",
                url: "/showprojecttaskinfo",
                dataType:'text',
                contentType: "application/json;charset=UTF-8",
                traditional: true,
                data:JSON.stringify({
                    "projectid":cid,
                    "taskid":taskid
                }),
                success: function (result) {
                    var dataobj = JSON.parse(result);
                    console.log(dataobj);
                    for(var menu in dataobj.users) {
                        if (dataobj.users[menu].uid === uid && role != 2) {
                            role = 1;
                        }else if(dataobj.users[menu].uid === uid && role == 2){
                            flagtask = 1;
                        }
                    }
                    // var date1 = new Date('0/0/0 00:00');
                    var start1 = prostarttime.getTime() + dataobj.task.earlystart * 3600 * 1000 * 24;
                    var start2 = prostarttime.getTime() + dataobj.task.latestart * 3600 * 1000 * 24;
                    console.log(start1);
                    start1 = new Date(start1);
                    start2 = new Date(start2);
                    console.log(start1.getFullYear() + "年" + (start1.getMonth() + 1) + "月" + start1.getDate() + "日");
                    console.log(start2.getFullYear() + "年" + (start2.getMonth() + 1) + "月" + start2.getDate() + "日");

                    $("#earlydate").html(start1.getFullYear() + "-" + (start1.getMonth() + 1) + "-" + start1.getDate());
                    $("#latedate").html(start2.getFullYear() + "-" + (start2.getMonth() + 1) + "-" + start2.getDate());
                    $("#tname").html(dataobj.task.taskname);
                    $("#description").html(dataobj.task.description);
                    $("#date").html(dataobj.task.duration + "天");

                    if(dataobj.successor.length!=0){
                        var f = 0,str = "";
                        for(var menu in dataobj.successor) {
                            if(f == 0){
                                str = str + dataobj.successor[menu].taskname;
                                f = 1;
                            }else{
                                str = str + ", " + dataobj.successor[menu].taskname;
                            }
                        }
                        $("#next").html(str);
                    }else{
                        $("#next").html("该任务没有后继任务。");
                    }

                    if(dataobj.predecessor.length!=0){
                        var f = 0,str = "";
                        for(var menu in dataobj.predecessor) {
                            if(f == 0){
                                str = str + dataobj.predecessor[menu].taskname;
                                f = 1;
                            }else{
                                str = str + ", " + dataobj.predecessor[menu].taskname;
                            }
                        }
                        $("#last").html(str);
                    }else{
                        $("#last").html("该任务没有前驱任务。");
                    }

                    if(dataobj.task.status == 0){
                        $("#status").html("未开始");
                        $("#tstartdate").html("暂无开始时间");
                        if(role != 0){
                            console.log("weikaishi");
                            if(dataobj.task.canstart == true){
                                document.getElementById("start_task").style.display="";
                            }
                        }
                    }else if(dataobj.task.status == 1){
                        $("#status").html("进行中");
                        $("#tstartdate").html(dataobj.task.starttime);
                        if(dataobj.hasOwnProperty("output") && role != 0){
                            // console.log("output");
                            // console.log(dataobj.output[0]);
                            document.getElementById("download").style.display="";
                            if(dataobj.output[0] != undefined){
                                var Menulistdown = $("#download");
                                var Menulistadd = $("#newadd");
                                var Menumeg = $("#meg");
                                $("<th style='margin-top: 30px;'></th>").append("<a href='/downloadprojecttaskfile?filename="+dataobj.output[0]+"&projectid="+cid+"&taskid="+taskid+"'>"+dataobj.output[0]+"</a>").appendTo(Menulistdown);
                                if(role == 2){
                                    $("<button class='btn btn-outline-primary' onclick='checktrue()' style='width: 100px;'>通过</button>").appendTo(Menulistadd);
                                    $("<button class='btn btn-block' onclick='checkfalse()' style='width: 100px; margin-top: 10px;'>未通过</button>").appendTo(Menulistadd);
                                }
                            }else{
                                var Menulistdown = $("#download");
                                $("<th style='margin-top: 30px;'>暂时没有文档提交</th>").appendTo(Menulistdown);
                            }
                        }
                    }else{
                        $("#status").html("已结束");
                        $("#tstartdate").html(dataobj.task.starttime);
                        console.log("已结束");
                        // console.log(dataobj.evaluation.pmEvaluated);
                        console.log(role);

                        if(role != 0){
                            if(dataobj.hasOwnProperty("output")){
                                console.log("output");
                                console.log(dataobj.output[0]);
                                document.getElementById("download").style.display="";
                                var Menulistdown = $("#download");
                                if(dataobj.output[0] == undefined)
                                    $("<tr style='margin-top: 30px;'>暂无输出文档提交</tr>").appendTo(Menulistdown);
                                else
                                    $("<tr style='margin-top: 30px;'></tr>").append("<a href='/downloadprojecttaskfile?filename="+dataobj.output[0]+"&projectid="+cid+"&taskid="+taskid+"'>"+dataobj.output[0]+"</a>").appendTo(Menulistdown);
                            }
                            if(dataobj.evaluation.pmEvaluated == true && flagtask == 0){
                                document.getElementById("PMeva").style.display="";
                                if(dataobj.evaluation.pmScore >= 85){
                                    $("#PMevath").html("A");
                                }else if(dataobj.evaluation.pmScore >= 70){
                                    $("#PMevath").html("B");
                                }else if(dataobj.evaluation.pmScore >= 55){
                                    $("#PMevath").html("C");
                                }else{
                                    $("#PMevath").html("D");
                                }
                                // $("#PMevath").html(dataobj.evaluation.pmScore);
                            }else if(dataobj.evaluation.pmEvaluated == false && role == 2 && flagtask == 0){
                                document.getElementById("PMbtn").style.display="";
                            }
                            if(dataobj.evaluation.selfEvaluated == true){
                                document.getElementById("selfeva").style.display="";
                                if(dataobj.evaluation.selfScore >= 85){
                                    $("#selfevath").html("A");
                                }else if(dataobj.evaluation.selfScore >= 70){
                                    $("#selfevath").html("B");
                                }else if(dataobj.evaluation.selfScore >= 55){
                                    $("#selfevath").html("C");
                                }else{
                                    $("#selfevath").html("D");
                                }
                                // $("#selfevath").html(dataobj.evaluation.selfScore);
                            }
                            var namelist = [];
                            for(var menu in dataobj.users) {
                                if(dataobj.users[menu].uid === uid){
                                    if(dataobj.evaluation.selfEvaluated == false){
                                        document.getElementById("selfbtn").style.display="";
                                    }
                                }
                            }
                        }
                    }
                    $("#rolename").html(dataobj.role.rolename);
                    var namelist = [];
                    for(var menu in dataobj.users) {
                        if(dataobj.users[menu].uid === uid){
                            var Menuslist = $("#menus");
                            if(dataobj.task.status == 1){
                                $('<input type="file" name="myfile" id="id_file" class="hidden">' +
                                    '<input type="button" class="btn btn-success pull-right" value="上传" id="id_submit">').appendTo(Menuslist);
                                // if(dataobj.evaluation.selfEvaluated == false){
                                //     document.getElementById("selfbtn").style.display="";
                                // }
                            }
                        }
                        namelist.push(dataobj.users[menu].name);
                        $("#player").html(dataobj.users[menu].name);
                        if(dataobj.users[menu+1] == 'undefined') break;
                    }

                    $('#id_submit').click(function () {
                        var fileObj = document.getElementById("id_file").files[0];
                        if (typeof (fileObj) == "undefined" || fileObj.size <= 0) {
                            alert("请选择文件");
                            return;
                        }
                        var form = new FormData(); // FormData 对象
                        form.append("submitfile", fileObj); // 文件对象
                        form.append("projectid", cid);
                        form.append("taskid", taskid);
                        // var form = new FormData();
                        // form.append('file', fileObj);
                        // console.log(document.getElementById("id_file").value);
                        // for (var [a, b] of form.entries()) {
                        //     console.log(a, b);
                        // }
                        // var file = new File(document.getElementById("id_file").value);
                        // var input = new FileInputStream(file);
                        // var multipartFile =new MockMultipartFile("file", file.getName(), "text/plain", IOUtils.toByteArray(input));
                        console.log("111");
                        $.ajax({
                            type: "post",
                            url: "/submittask",
                            dataType: 'text',
                            contentType: false,
                            processData: false,
                            traditional: true,
                            data: form,
                            success: function (data) {
                                alert("成功");
                            },
                            error:function(result) {
                                alert(result);
                            }
                        });
                    });

                    // var Menulist3 = $("#menu3");
                    // // console.log(dataobj.task.canstart);
                    // // console.log(dataobj.task.status);
                    // if(dataobj.task.canstart === true && dataobj.task.status == 0){
                    //     $("<button type='button' class='btn btn-primary' id='btn_start' style='margin-top: 3px;'>开始任务</button>").appendTo(Menulist3);
                    // }else if(dataobj.task.canstart === false || dataobj.task.status != 2){
                    //     $("<button type='button' class='btn btn-default' id='btn_start' style='margin-top: 3px;'>不可操作</button>").appendTo(Menulist3);
                    // }else if(dataobj.task.status == 2){
                    //     $("<button type='button' class='btn btn-info' id='btn_start' style='margin-top: 3px;'>开始自评</button>").appendTo(Menulist3);
                    // }
                },
                error:function(result) {
                    alert(result);
                }
            });
        }
        function selfeva() {
            console.log("role:"+role);
            if(role == 2){
                var main = document.getElementById('evalist');
                main.innerHTML = "<iframe border='none' style='border:0; padding:15px' scrolling='no' width='100%' height='100%' src='totaskselfPM?"+cid+"&"+taskid+"'></iframe>";
            }else if(role == 1){
                var main = document.getElementById('evalist');
                main.innerHTML = "<iframe border='none' style='border:0; padding:15px' scrolling='no' width='100%' height='100%' src='totaskselfstu?"+cid+"&"+taskid+"'></iframe>";
            }
        }

        function PMeva() {
            console.log("PMeva");
            var main = document.getElementById('evalist');
            main.innerHTML = "<iframe border='none' style='border:0; padding:15px' scrolling='no' width='100%' height='100%' src='totaskeva?"+cid+"&"+taskid+"'></iframe>";
        }

        function startbtn() {
            console.log("开始任务");
            $.ajax({
                type: "post",  //post put get 等等
                url: "/starttask",
                dataType: 'text',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                //后端Requestbody只能接收一个Json字符串,ajax传的是一个对象,所以要调用stringify方法转换成字符串,对象可以再上面封装好,或者下面直接在该方法内（{}）用大括号括起来
                // 表示对象
                data: {  //json前面的东西要和后端实体类对应
                    "projectid": cid,
                    "taskid":taskid,
                },
                success: function (data) {
                    console.log(data);
                    alert("任务开始！");
                },
                error: function (result) {  //连接至ashx文件失败时，执行函数
                    alert(result);
                }
            });
        }

        function checktrue() {
            $.ajax({
                type: "post",  //post put get 等等
                url: "/checktask",
                dataType: 'text',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                //后端Requestbody只能接收一个Json字符串,ajax传的是一个对象,所以要调用stringify方法转换成字符串,对象可以再上面封装好,或者下面直接在该方法内（{}）用大括号括起来
                // 表示对象
                data: {  //json前面的东西要和后端实体类对应
                    "projectid": cid,
                    "taskid":taskid,
                    "pass":true
                },
                success: function (data) {
                    console.log(data);
                    alert("已通过当前任务，接下来请刷新界面进行任务评价。");
                },
                error: function (result) {  //连接至ashx文件失败时，执行函数
                    alert(result);
                }
            });
        }

        function checkfalse() {
            $.ajax({
                type: "post",  //post put get 等等
                url: "/checktask",
                dataType: 'text',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                //后端Requestbody只能接收一个Json字符串,ajax传的是一个对象,所以要调用stringify方法转换成字符串,对象可以再上面封装好,或者下面直接在该方法内（{}）用大括号括起来
                // 表示对象
                data: {  //json前面的东西要和后端实体类对应
                    "projectid": cid,
                    "taskid":taskid,
                    "pass":false
                },
                success: function (data) {
                    console.log(data);
                    alert("操作成功");
                },
                error: function (result) {  //连接至ashx文件失败时，执行函数
                    alert(result);
                }
            });
        }

    </script>
</head>
<body>
<div class="tab-content">
    <div id="menu1" class="container tab-pane active" style="height: 600px;"><br>
        <div class="modal" id="mymodal">
            <div class="modal-dialog" style="height: 430px;">
                <div class="modal-content" style="height: 430px;" id="evalist">
                    xianshishi
                </div>
            </div>
        </div>
        <div>
            <h4 style="text-align: center;color: #0B3E5B; font-weight: bold;">基本信息</h4>
            <table border="1" frame="void" rules="none" cellpadding="10px" style="font-weight: bold;" id="meg">
                <tr>
                    <th>任务名称：</th>
                    <th id="tname"></th>
                </tr>
                <tr>
                    <td>任务描述：</td>
                    <td id="description"></td>
                </tr>
                <tr>
                    <td>任务时间：</td>
                    <td id="date"></td>
                </tr>
                <tr>
                    <td>任务开始时间：</td>
                    <td id="tstartdate"></td>
                </tr>
                <tr>
                    <td>最早开始时间：</td>
                    <td id="earlydate"></td>
                </tr>
                <tr>
                    <td>最晚开始时间：</td>
                    <td id="latedate"></td>
                </tr>
                <tr>
                    <td>任务状态：</td>
                    <td id="status"></td>
                </tr>
                <tr>
                    <td>任务参与角色：</td>
                    <td id="rolename"></td>
                </tr>
                <tr>
                    <th>任务参与人：</th>
                    <th id="player"></th>
                </tr>
                <tr>
                    <th>前驱任务：</th>
                    <th id="last"></th>
                </tr>
                <tr>
                    <th>后继任务：</th>
                    <th id="next"></th>
                </tr>
                <tr id="PMeva">
                    <th>PM评价：</th>
                    <th id="PMevath"></th>
                </tr>
                <tr id="selfeva">
                    <th>自我评价：</th>
                    <th id="selfevath"></th>
                </tr>
                <tr id="download">
                    <th>文件下载：</th>
<!--                    <th id="downloadth"></th>-->
                </tr>
                <tr>
                    <th></th>
                    <th id="newadd"></th>
                    <!--                    <th id="downloadth"></th>-->
                </tr>
<!--                <tr>-->
<!--                    <td>开始时间：</td>-->
<!--                    <td id="time"></td>-->
<!--                </tr>-->
            </table>
            <div id="menus">

            </div>
<!--            <input type="file" name="myfile" id="id_file" class="hidden">-->
<!--            <input type="button" class="btn btn-success pull-right" value="上传" id="id_submit">-->
<!--            <button type="button" class="btn btn-primary" id="btn_add">进入项目</button>-->
        </div>
        <button class="btn btn-outline-primary" id="start_task" onclick="startbtn()">开始任务</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mymodal" id="PMbtn" onclick="PMeva()">任务评价</button>
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#mymodal" id="selfbtn" onclick="selfeva()">自我评价</button>
    </div>
</div>
</body>
</html>
