<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>项目详细信息</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.css">
    <!-- 3.0 -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script th:inline="javascript">
        var cid;
        var changeuid;
        $(window).on('load', function () {
            $('#usertype').selectpicker({
                'selectedText': 'cat'
            });
        });

        window.onload=function () {
            $('#myModal').modal();
            var uid = [[${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}]];

            var indexmenu = $("#menuindex");

            $('<li class="nav-item"><a class="nav-link active" href="" style="background-color: #96B87D; font-weight: bold;">查找用户</a></li>').appendTo(indexmenu);
            $('<li class="nav-item"><a class="nav-link" href="" style="color: #0B3E5B; font-weight: bold;">用户列表</a></li>').appendTo(indexmenu);
            $('<li class="nav-item"><a class="nav-link" href="" style="color: #0B3E5B; font-weight: bold;">冻结用户</a></li>').appendTo(indexmenu);
            $('<li class="nav-item"><a class="nav-link" href="" style="color: #0B3E5B; font-weight: bold;">删除用户</a></li>').appendTo(indexmenu);
            $('<li class="nav-item"><a class="nav-link" href="" style="color: #0B3E5B; font-weight: bold;">IP封禁</a></li>').appendTo(indexmenu);
            $('<li class="nav-item"><a class="nav-link" href="" style="color: #0B3E5B; font-weight: bold;">EMAIL封禁</a></li>').appendTo(indexmenu);

            $.ajax({
                type: "post",  //post put get 等等
                url: "/student/showUserDetial",
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                //后端Requestbody只能接收一个Json字符串,ajax传的是一个对象,所以要调用stringify方法转换成字符串,对象可以再上面封装好,或者下面直接在该方法内（{}）用大括号括起来
                // 表示对象
                data: {  //json前面的东西要和后端实体类对应
                    "uid": uid
                },
                success: function (data, textStatus) {
                    $("#headimg").attr("src",data.portrait);
                    $("#name").html(data.name);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {  //连接至ashx文件失败时，执行函数
                    alert("error");
                }
            });
        }

        function btn_search() {
            var mySelect = document.getElementById("usertype");
            // console.log(mySelect.options[2].selected);
            var str;
            if(mySelect.options[5].selected == true && mySelect.options[6].selected == true && mySelect.options[7].selected == true){
                str = "ADMIN,TEACHER,STUDENT";
            }else if(mySelect.options[6].selected == true && mySelect.options[7].selected == true){
                str = "ADMIN,TEACHER";
            }else if(mySelect.options[5].selected == true && mySelect.options[6].selected == true){
                str = "TEACHER,STUDENT";
            }else if(mySelect.options[5].selected == true && mySelect.options[7].selected == true){
                str = "ADMIN,STUDENT";
            }else if(mySelect.options[5].selected == true){
                str = "STUDENT";
            }else if(mySelect.options[6].selected == true){
                str = "TEACHER";
            }else{
                str = "ADMIN";
            }
            // console.log(mySelect.options[0].selected);
            // console.log(mySelect.options[1].selected);
            // console.log(mySelect.options[2].selected);
            // console.log($('#search').val());
            // console.log(mySelect.options[3].selected);
            // console.log(mySelect.options[4].selected);
            // console.log(str);
            // console.log("1");
            // console.log("30");
            $.ajax({
                type: "post",  //post put get 等等
                url: "/findUsers",
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                //后端Requestbody只能接收一个Json字符串,ajax传的是一个对象,所以要调用stringify方法转换成字符串,对象可以再上面封装好,或者下面直接在该方法内（{}）用大括号括起来
                // 表示对象
                data: {  //json前面的东西要和后端实体类对应
                    "needid":mySelect.options[0].selected,
                    "needname":mySelect.options[1].selected,
                    "needmail":mySelect.options[2].selected,
                    "findstr":$('#search').val(),
                    "notAccountNonLocked":mySelect.options[3].selected,
                    "isAccountNonLocked":mySelect.options[4].selected,
                    "role":str,
                    "pagenum":1,
                    "pagesize":30,
                },
                success: function (data) {
                    console.log(data);
                    var showMenu1 = $("#menu1");
                    var showMenu2 = $("#menu2");
                    var showMenu3 = $("#menu3");
                    var showMenu4 = $("#menu4");
                    var showMenu5 = $("#menu5");
                    var showMenu6 = $("#menu6");
                    // var showMenu7 = $("#menu7");
                    for(var menu in data.content) {
                        $("<li style='margin-top: 22px;'></li>").append(data.content[menu].uid).appendTo(showMenu1);
                        $("<li style='margin-top: 22px;'></li>").append(data.content[menu].name).appendTo(showMenu2);
                        $("<li style='margin-top: 22px;'></li>").append(data.content[menu].role).appendTo(showMenu3);
                        $("<li style='margin-top: 10px;'><button type='button' class='btn btn-primary' data-toggle='modal' data-target='#mymodal' value = '" + data.content[menu].uid + "' onclick='btn_change(this.value)'>更改</button></li>").appendTo(showMenu4);
                        if(data.content[menu].accountNonLocked == true){
                            $("<li style='margin-top: 10px;'><button type='button' class='btn btn-danger' value = '" + data.content[menu].uid + "' onclick='btn_fro(this.value)'>冻结</button></li>").appendTo(showMenu5);
                        }else{
                            $("<li style='margin-top: 10px;'><button type='button' class='btn btn-warning' value = '" + data.content[menu].uid + "' onclick='btn_re(this.value)'>恢复</button></li>").appendTo(showMenu5);
                        }
                        $("<li style='margin-top: 10px;'><button type='button' class='btn btn-primary' value = '" + data.content[menu].uid + "' onclick='btn_rename(this.value)'>重置</button></li>").appendTo(showMenu6);
                        if(data.content[menu+1] == 'undefined') break;
                    }
                },
                error: function (data) {  //连接至ashx文件失败时，执行函数
                    alert(data);
                }
            });
        }

        function btn_change(uid) {
            // console.log(uid);
            // changeuid = uid;
            //     // alert("111111");
            // $("#myModalLabel").text("更改用户类型");
            // $('#myModal').modal();
            var main = document.getElementById('evalist');
            main.innerHTML = "<iframe border='none' style='border:0; padding:15px' scrolling='no' width='100%' height='100%' src='toadmin_role?"+uid+"'></iframe>";
        }

        function btn_fro(uid) {
            console.log(uid);
            $.ajax({
                type: "post",  //post put get 等等
                url: "/lockUser",
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                //后端Requestbody只能接收一个Json字符串,ajax传的是一个对象,所以要调用stringify方法转换成字符串,对象可以再上面封装好,或者下面直接在该方法内（{}）用大括号括起来
                // 表示对象
                data: {  //json前面的东西要和后端实体类对应
                    "uid": uid,
                },
                success: function (data) {
                    if(data == true) alert("冻结用户成功！");
                    else alert("操作失败！");
                    location.replace(location.href);
                },
                error: function (data) {  //连接至ashx文件失败时，执行函数
                    alert(data);
                }
            });

        }

        function btn_re(uid) {
            console.log(uid);
            $.ajax({
                type: "post",  //post put get 等等
                url: "/unlockUser",
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                //后端Requestbody只能接收一个Json字符串,ajax传的是一个对象,所以要调用stringify方法转换成字符串,对象可以再上面封装好,或者下面直接在该方法内（{}）用大括号括起来
                // 表示对象
                data: {  //json前面的东西要和后端实体类对应
                    "uid": uid,
                },
                success: function (data) {
                    if(data == true) alert("解除用户冻结成功！");
                    else alert("操作失败！");
                    location.replace(location.href);
                },
                error: function (data) {  //连接至ashx文件失败时，执行函数
                    alert(data);
                }
            });

        }

        function btn_rename(uid) {
            console.log(uid);
            $.ajax({
                type: "post",  //post put get 等等
                url: "/resetPwd",
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                //后端Requestbody只能接收一个Json字符串,ajax传的是一个对象,所以要调用stringify方法转换成字符串,对象可以再上面封装好,或者下面直接在该方法内（{}）用大括号括起来
                // 表示对象
                data: {  //json前面的东西要和后端实体类对应
                    "uid": uid,
                },
                success: function (data) {
                    console.log(data);
                    if(data == true) alert("重置成功！");
                    else alert("操作失败！");
                    location.replace(location.href);
                },
                error: function (data) {  //连接至ashx文件失败时，执行函数
                    alert(data);
                }
            });

        }

    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div style="background-color: #96B87D; height: 40px; width: 100%;display: flex;">
            <div>
                <h5 style="margin-left: 15px;margin-top: 7px; color: white; font-family: 'arial black'; font-weight: bold;">案 例 学 习 系 统</h5>
            </div>
            <div sec:authorize="isAuthenticated()">
                <h5 style="margin-left: 700px; margin-top: 7px; color: white;">欢迎您 <span sec:authentication="principal.myUserName"></span></h5>
            </div>
            <div>
                <a type="button" class="btn" style="margin-left: 35px; margin-top:3px; height: 34px; background-color: darkgray;color: dimgray" href="/logout" >注销</a>
            </div>
        </div>
    </div>
    <header class="header-area">
        <div class="header-bottom stick-h2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="logo" style="margin-left: 30px;">
                            <img src="/img/logo.jpg" style="width: 60px;">
                            <!--<a href="index2.html"><img src="images/logo/logo2.jpg" alt=""> </a>-->
                        </div>
                    </div>
                    <div class="col-md-6 hidden-sm hidden-xs">
                        <div class="menu-area f-right" style="margin-top: 10px;">
                            <nav>
                                <ul style="color: #96B87D;" id="topmenu">
                                    <li style="display: inline"><a href="/toadmin_user" style="color: #0B3E5B;font-size: 21px; font-weight: bold;">用户管理</a></li>
                                    <li style="display: inline"><a href="/toadmin_case" style="margin-left: 8px; color: #0B3E5B;font-size: 21px; font-weight: bold;">案例管理</a></li>
                                    <li style="display: inline"><a href="/toadmin_project" style="margin-left: 8px; color: #0B3E5B;font-size: 21px; font-weight: bold;">项目管理</a></li>
                                    <li style="display: inline"><a href="/toadmin_system" style="margin-left: 8px; color: #0B3E5B;font-size: 21px; font-weight: bold;">系统管理</a></li>
                                    <!--<li><a href="page.html">PAGE</a></li>
                                    <li><a href="contact.html">CONTACT</a></li>-->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container" style="border-top: double; border-width: 5px; border-color: #96B87D; width: 100%;">
        <div class="row" style="margin-top: 40px;">
            <div id="left" class="col-md-4" style="height: 530px; border-right: solid; border-color: #0B3E5B;text-align: center;">
                <div class="logo">
                    <img src="" style="width: 50%;border-radius: 80px;" id="headimg">
                    <!--<a href="index2.html"><img src="images/logo/logo2.jpg" alt=""> </a>-->
                </div>
                <div style="margin-top: 20px;">
                    用户名：<h7 id="name" style="color: #0B3E5B; font-weight: bold;" text=""></h7>
                    角色：<h7 id="rolename" style="color: #0B3E5B; font-weight: bold;" text="">管理员</h7>
                </div>
                <div style="margin-top: 70px;">
                    <ul class="nav nav-pills flex-column" role="tablist" id="menuindex">
                    </ul>
                </div>
            </div>
            <div id="middle" class="col-md-8">
                <div class="modal" id="mymodal">
                    <div class="modal-dialog" style="height: 260px; margin-left: -100px;">
                        <div class="modal-content" style="height: 260px;" id="evalist">
                            <h4 style="margin-top:40px;text-align: center;color: #96B87D;">您已完成打分，总评结果将在项目结束后显示</h4>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="search" style="display:inline;width:200px;"autocomplete="off">
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select id="usertype" name="usertype" class="selectpicker show-tick form-control" multiple data-live-search="false" style="height: 100px;" title="请选择你想要查询的关键字">
                                <option value="0">查询用户id</option>
                                <option value="1">查询用户姓名</option>
                                <option value="2">查询用户EMAIL</option>
                                <option value="3">查询已冻结用户</option>
                                <option value="4">查询未冻结用户</option>
                                <option value="5">查询学生用户</option>
                                <option value="6">查询教师用户</option>
                                <option value="7">查询管理员用户</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type='button' class='btn btn-primary' onclick="btn_search()">查询</button>
                    </div>
                </div>
                <div style="margin-top: 30px; text-align: center;" class="container">
                    <div class="col-md-2" style="text-align: center;">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="sidebar">
                                <ul id='menu1' class='nav navbar-nav' style="text-align: center;">
                                    <li>用户id</li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-2" style="text-align: center;">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="sidebar">
                                <ul id='menu2' class='nav navbar-nav' style="text-align: center;">
                                    <li>用户姓名</li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-2" style="text-align: center;">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="sidebar">
                                <ul id='menu3' class='nav navbar-nav' style="text-align: center;">
                                    <li>用户类型</li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-2" style="text-align: center;">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="sidebar">
                                <ul id='menu4' class='nav navbar-nav' style="text-align: center;">
                                    <li>更改状态</li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-2" style="text-align: center;">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="sidebar">
                                <ul id='menu5' class='nav navbar-nav' style="text-align: center;">
                                    <li>状态</li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-2" style="text-align: center;">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="sidebar">
                                <ul id='menu6' class='nav navbar-nav' style="text-align: center;">
                                    <li>密码重置</li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>