<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<script>
    window.onload=function() {
            $.ajax({
                type: "post",
                url: "/needuid",
                dataType: 'text',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                data: {"uid":true},
                success: function (r) {
                    alert("请求成功"+r);
                },
                error:function(result) {
                    alert(result);
                }
            });
    }
</script>
<body>
登录成功页面
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="principal.myUserPortrait"></span>
    登录成功啦!
</div>
<div th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.myUserPortrait}"></div>
<div sec:authorize="!isAuthenticated()">登陆失败了!</div>
<div sec:authorize="hasRole('ADMIN')">你有admin权限</div>
<div sec:authorize="hasRole('USER')">你有user权限</div>

<a href="/showUserDetial" sec:authorize="isAuthenticated()" th:text="显示个人信息"></a>
<a href="/logout" sec:authorize="isAuthenticated()" th:text="注销"></a>
</body>
</html>
