<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<script>
    // 查询案例详细信息
    window.onload=function() {
            $.ajax({
                type: "post",
                url: "/showprojectlog",
                dataType: 'text',
                contentType: "application/x-www-form-urlencoded",
                traditional: true,
                data:{
                },
                success: function (data) {
                    var dataobj = JSON.parse(data);
                    console.log(dataobj);
                    console.log(dataobj.case);
                    // $("#caseid").html(dataobj.case.caseid);
                    // $("#casename").html(dataobj.case.casename);
                    // $("#description").html(dataobj.case.description);

                },
                error:function(result) {
                    alert(result);
                }
            });
    }

    // //查询项目详细信息
    // window.onload=function() {
    //         $.ajax({
    //             type: "post",
    //             url: "/showprojectinfo",
    //             dataType: 'text',
    //             contentType: "application/x-www-form-urlencoded",
    //             traditional: true,
    //             data:{
    //                 "projectid":1
    //             },
    //             success: function (data) {
    //                 var dataobj = JSON.parse(data);
    //                 console.log(dataobj);
    //                 console.log(dataobj.case);
    //                 // $("#caseid").html(dataobj.case.caseid);
    //                 // $("#casename").html(dataobj.case.casename);
    //                 // $("#description").html(dataobj.case.description);
    //
    //             },
    //             error:function(result) {
    //                 alert(result);
    //             }
    //         });
    // }

    // //查询所有项目
    // window.onload=function() {
    //         $.ajax({
    //             type: "post",
    //             url: "/findallprojects",
    //             dataType: 'text',
    //             contentType: "application/x-www-form-urlencoded",
    //             traditional: true,
    //             success: function (data) {
    //                 var dataobj = JSON.parse(data);
    //                 console.log(dataobj);
    //                 // $("#caseid").html(dataobj.case.caseid);
    //                 // $("#casename").html(dataobj.case.casename);
    //                 // $("#description").html(dataobj.case.description);
    //
    //             },
    //             error:function(result) {
    //                 alert(result);
    //             }
    //         });
    // }

    // 查询任务详细信息
    // window.onload=function() {
    //     $.ajax({
    //         type: "post",
    //         url: "/showprojecttaskinfo",
    //         dataType: 'text',
    //         contentType: "application/json;charset=UTF-8",
    //         //后端Requestbody只能接收一个Json字符串,ajax传的是一个对象,所以要调用stringify方法转换成字符串,对象可以再上面封装好,或者下面直接在该方法内（{}）用大括号括起来
    //         // 表示对象
    //         data: JSON.stringify({  //json前面的东西要和后端实体类对应
    //             "projectid": 1,
    //             "taskid": 3
    //         }),
    //         success: function (data) {
    //             var dataobj = JSON.parse(data);
    //             console.log(dataobj);
    //
    //         },
    //         error:function(result) {
    //             alert(result);
    //         }
    //     });
    // }

    // // 下载案例文档
    //     function downloadcasefile() {
    //         $.ajax({
    //             type: "post",
    //             url: "/downloadcasefile",
    //             dataType: 'text',
    //             contentType: "application/x-www-form-urlencoded",
    //             traditional: true,
    //             data:{
    //                 "filename":"2.doc",
    //                 "caseid":1
    //             },
    //             success: function (data) {
    //
    //             },
    //             error:function(result) {
    //                 alert(result);
    //             }
    //         });
    // }
</script>
<body>
登录成功页面
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="principal.username"></span>
    登录成功啦!
</div>
<div th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.myUserPortrait}"></div>
<div sec:authorize="!isAuthenticated()">登陆失败了!</div>
<div sec:authorize="hasRole('ADMIN')">你有admin权限</div>
<div sec:authorize="hasRole('USER')">你有user权限</div>

<a href="/showUserDetial" sec:authorize="isAuthenticated()" th:text="显示个人信息"></a>
<a href="/logout" sec:authorize="isAuthenticated()" th:text="注销"></a>

<text id="caseid"></text>
<text  id="casename"></text>
</br>
<text>案例的</text> <text id="description"></text><text>详细描述</text>


<a href="/downloadcasefile?filename=2.doc&caseid=1">下载案例文档</a>
</body>
</html>
