<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title>注册界面</title>

    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script>
        // function login() {
        //     //跳转到注册界面register.html进行注册
        //     window.open("login", "_blank");  //_self,_parent,_top,_blank
        // }
        function doregister() {
            //jQuery写法
            var user = $('#user').val();
            var password = $('#password').val();
            var password2 = $("#password2").val();

            var str = document.getElementById('user').value;
            var strr = document.getElementById("password").value;
            if(password != password2){
                alert("两次输入密码不一致！");
                return false;
            }
            if(str == "" || strr == ""){
                alert("您的用户名或密码输入为空。");
                return false;
            }
            var regu = "^[ ]+$";
            var re = new RegExp(regu);
            if(re.test(str) || re.test(strr)){
                alert("输入内容不能是空格。");
                return false;
            }

            window.onload = function(){

            }

            //
            $.ajax({
                type: "post",  //post put get 等等
                url: "/register",
                contentType: "application/json;charset=UTF-8",
                //后端Requestbody只能接收一个Json字符串,ajax传的是一个对象,所以要调用stringify方法转换成字符串,对象可以再上面封装好,或者下面直接在该方法内（{}）用大括号括起来
                // 表示对象
                data: JSON.stringify({  //json前面的东西要和后端实体类对应
                    "uid": user,
                    "pwd": password
                }),
                success: function (data, textStatus) {
                    if(data == false){
                        alert("用户名已存在。");
                        return false;
                    }
                    alert("注册成功！");
                    window.location.href="tologin";
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {  //连接至ashx文件失败时，执行函数
                    alert("请求在连接过程中出现错误..\n" + errorThrown);
                }
            });
            // window.open("login", "_self");
        }
    </script>
</head>

<body>
<!-- 注册表单 -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="background-color: #96B87D; height: 40px">
                <h5 style="margin-top: 7px; color: white; font-family: 'arial black';">案 例 学 习 系 统</h5>
            </div>
        </div>
        <div style="text-align: center">
            <img src="/img/logo.jpg" style="text-align: center; width: 30%;">
        </div>
    </div>
    <div style="height: 280px; width: 40%; margin-left: 30%; background-color: #EEEEEE; margin-top: 20px;border-radius: 30px;">
        <form style="text-align: center;">
            <div class="form-group" style="padding-top: 45px;">
                <label for="user" stype="display:inline;">账户：</label>
                <input type="text" class="form-control" id="user" style="display:inline;width:200px;" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label for="password" style="display:inline;">密码：</label>
                <input type="password" class="form-control" id="password" style="display:inline;width:200px;" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label for="password" style="display:inline;">确认：</label>
                <input type="password" class="form-control" id="password2" style="display:inline;width:200px;" autocomplete="off"/>
            </div>
        </form>
        <div style="text-align: center;">
            <button type="submit" class="btn" style="width:100px;background-color: #96B87D; color: white; margin-top: 20px" onclick="doregister()">确认注册</button>
        </div>
    </div>
</body>
</html>
